In [1]:
import numpy as np
import pandas as pd
import os
from random import randint

In [2]:
# import weather data
us_weather = 'winery_weather.csv'
winery_weather_df = pd.read_csv(us_weather)
winery_weather_df.head()

,Unnamed: 0,winery_search,Average Temperature (Kelvin),Average Air Pressure (hPa),Average Humidity (%),Average Daily Precipitation (mm)
0,0,St. Julian winery US,269.6375,1018.1500,79.2400,0.0725
1,1,Sweet Cheeks winery US,276.0250,1019.8875,85.4525,0.0575
2,2,Kirkland Signature winery US,277.3750,1020.0125,79.1975,0.2350
3,3,Louis M. Martini winery US,281.0325,1018.5000,79.1550,0.0775
4,4,Richard B√∂cking winery Germany,275.7100,1014.9425,92.2150,0.1350

In [3]:
# import winery review data
winery_reviews = 'wine_reviews_cleaned.csv'
winery_reviews_df = pd.read_csv(winery_reviews)
winery_reviews_df.head()

,Unnamed: 0,country,points,variety,winery,winery_search
0,3,US,87,Riesling,St. Julian,St. Julian winery US
1,4,US,87,Pinot Noir,Sweet Cheeks,Sweet Cheeks winery US
2,10,US,87,Cabernet Sauvignon,Kirkland Signature,Kirkland Signature winery US
3,12,US,87,Cabernet Sauvignon,Louis M. Martini,Louis M. Martini winery US
4,14,US,87,Chardonnay,Mirassou,Mirassou winery US

In [4]:
#merged_df = pd.merge(winery_weather_df.to_frame(), winery_reviews_df.to_frame(), how='left', left_on=['winery_search'], right_on=['winery_search'])
merged_df = pd.merge(winery_weather_df, winery_reviews_df, how='left', on=['winery_search'])
merged_df.head(20)

,Unnamed: 0_x,winery_search,Average Temperature (Kelvin),Average Air Pressure (hPa),Average Humidity (%),Average Daily Precipitation (mm),Unnamed: 0_y,country,points,variety,winery
0,0,St. Julian winery US,269.6375,1018.1500,79.2400,0.0725,3.0,US,87.0,Riesling,St. Julian
1,0,St. Julian winery US,269.6375,1018.1500,79.2400,0.0725,81594.0,US,86.0,Riesling,St. Julian
2,0,St. Julian winery US,269.6375,1018.1500,79.2400,0.0725,81595.0,US,86.0,Riesling,St. Julian
3,1,Sweet Cheeks winery US,276.0250,1019.8875,85.4525,0.0575,4.0,US,87.0,Pinot Noir,Sweet Cheeks
4,1,Sweet Cheeks winery US,276.0250,1019.8875,85.4525,0.0575,7736.0,US,88.0,Riesling,Sweet Cheeks
5,1,Sweet Cheeks winery US,276.0250,1019.8875,85.4525,0.0575,12121.0,US,90.0,Syrah,Sweet Cheeks
6,1,Sweet Cheeks winery US,276.0250,1019.8875,85.4525,0.0575,29366.0,US,87.0,Pinot Noir,Sweet Cheeks
7,1,Sweet Cheeks winery US,276.0250,1019.8875,85.4525,0.0575,39754.0,US,85.0,Pinot Noir,Sweet Cheeks
8,1,Sweet Cheeks winery US,276.0250,1019.8875,85.4525,0.0575,47083.0,US,85.0,Merlot,Sweet Cheeks
9,1,Sweet Cheeks winery US,276.0250,1019.8875,85.4525,0.0575,76536.0,US,87.0,Pinot Noir,Sweet Cheeks
10,1,Sweet Cheeks winery US,276.0250,1019.8875,85.4525,0.0575,101305.0,US,82.0,Syrah,Sweet Cheeks
11,1,Sweet Cheeks winery US,276.0250,1019.8875,85.4525,0.0575,103959.0,US,87.0,Syrah,Sweet Cheeks
12,1,Sweet Cheeks winery US,276.0250,1019.8875,85.4525,0.0575,123290.0,US,87.0,Pinot Noir,Sweet Cheeks
13,1,Sweet Cheeks winery US,276.0250,1019.8875,85.4525,0.0575,124862.0,US,88.0,Sauvignon Blanc,Sweet Cheeks
14,2,Kirkland Signature winery US,277.3750,1020.0125,79.1975,0.2350,10.0,US,87.0,Cabernet Sauvignon,Kirkland Signature
15,2,Kirkland Signature winery US,277.3750,1020.0125,79.1975,0.2350,2251.0,US,87.0,Cabernet Sauvignon,Kirkland Signature
16,2,Kirkland Signature winery US,277.3750,1020.0125,79.1975,0.2350,2784.0,US,84.0,Pinot Noir,Kirkland Signature
17,2,Kirkland Signature winery US,277.3750,1020.0125,79.1975,0.2350,2808.0,US,87.0,Merlot,Kirkland Signature
18,2,Kirkland Signature winery US,277.3750,1020.0125,79.1975,0.2350,4058.0,US,90.0,Chardonnay,Kirkland Signature
19,2,Kirkland Signature winery US,277.3750,1020.0125,79.1975,0.2350,5712.0,US,91.0,Cabernet Sauvignon,Kirkland Signature

In [5]:
# drop unnecessary columns
machine_df = merged_df.drop(['Unnamed: 0_x', 'Unnamed: 0_y'], axis=1)
machine_df.head(10)

,winery_search,Average Temperature (Kelvin),Average Air Pressure (hPa),Average Humidity (%),Average Daily Precipitation (mm),country,points,variety,winery
0,St. Julian winery US,269.6375,1018.1500,79.2400,0.0725,US,87.0,Riesling,St. Julian
1,St. Julian winery US,269.6375,1018.1500,79.2400,0.0725,US,86.0,Riesling,St. Julian
2,St. Julian winery US,269.6375,1018.1500,79.2400,0.0725,US,86.0,Riesling,St. Julian
3,Sweet Cheeks winery US,276.0250,1019.8875,85.4525,0.0575,US,87.0,Pinot Noir,Sweet Cheeks
4,Sweet Cheeks winery US,276.0250,1019.8875,85.4525,0.0575,US,88.0,Riesling,Sweet Cheeks
5,Sweet Cheeks winery US,276.0250,1019.8875,85.4525,0.0575,US,90.0,Syrah,Sweet Cheeks
6,Sweet Cheeks winery US,276.0250,1019.8875,85.4525,0.0575,US,87.0,Pinot Noir,Sweet Cheeks
7,Sweet Cheeks winery US,276.0250,1019.8875,85.4525,0.0575,US,85.0,Pinot Noir,Sweet Cheeks
8,Sweet Cheeks winery US,276.0250,1019.8875,85.4525,0.0575,US,85.0,Merlot,Sweet Cheeks
9,Sweet Cheeks winery US,276.0250,1019.8875,85.4525,0.0575,US,87.0,Pinot Noir,Sweet Cheeks

In [6]:
clean_values = machine_df.dropna()

In [7]:
clean_values.isnull().any()

winery_search                       False
Average Temperature (Kelvin)        False
Average Air Pressure (hPa)          False
Average Humidity (%)                False
Average Daily Precipitation (mm)    False
country                             False
points                              False
variety                             False
winery                              False
dtype: bool

In [8]:
clean_values['variety'].value_counts()

Pinot Noir            12024
Chardonnay            10518
Cabernet Sauvignon     8499
Riesling               4513
Sauvignon Blanc        4333
Syrah                  3778
Merlot                 2819
Rosé                   2398
Name: variety, dtype: int64

In [9]:
clean_values['country'].value_counts()

US                31868
France             6247
Chile              2403
Germany            1469
New Zealand        1194
Argentina          1042
Australia          1010
Italy               873
Austria             813
South Africa        609
Portugal            320
Spain               271
Israel              230
Canada              146
Bulgaria             84
Romania              68
Greece               49
Slovenia             27
Mexico               25
England              25
Brazil               18
Moldova              14
Uruguay              13
Morocco              12
Turkey               12
Hungary               6
Lebanon               5
Switzerland           4
Croatia               4
Macedonia             4
Peru                  3
Czech Republic        3
Ukraine               3
Serbia                3
Luxembourg            2
India                 2
Georgia               1
Name: country, dtype: int64

In [10]:
from numpy import array
from sklearn import tree
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [11]:
# Define the features set.
X = clean_values.copy()
X = X.drop(columns=["variety", "winery", "winery_search"])
X.head()

,Average Temperature (Kelvin),Average Air Pressure (hPa),Average Humidity (%),Average Daily Precipitation (mm),country,points
0,269.6375,1018.1500,79.2400,0.0725,US,87.0
1,269.6375,1018.1500,79.2400,0.0725,US,86.0
2,269.6375,1018.1500,79.2400,0.0725,US,86.0
3,276.0250,1019.8875,85.4525,0.0575,US,87.0
4,276.0250,1019.8875,85.4525,0.0575,US,88.0

In [12]:
# Define the features set.
y = clean_values["variety"]
y[:5]

0      Riesling
1      Riesling
2      Riesling
3    Pinot Noir
4      Riesling
Name: variety, dtype: object

In [13]:
# Split the Data Into Training and Testing Sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=70)

In [14]:
# create label encoder
labelencoder = LabelEncoder()

# transform data
X['country_labenc'] = labelencoder.fit_transform(X['country'])
X.head()

,Average Temperature (Kelvin),Average Air Pressure (hPa),Average Humidity (%),Average Daily Precipitation (mm),country,points,country_labenc
0,269.6375,1018.1500,79.2400,0.0725,US,87.0,34
1,269.6375,1018.1500,79.2400,0.0725,US,86.0,34
2,269.6375,1018.1500,79.2400,0.0725,US,86.0,34
3,276.0250,1019.8875,85.4525,0.0575,US,87.0,34
4,276.0250,1019.8875,85.4525,0.0575,US,88.0,34

In [27]:
# drop country name
X = X.drop(columns=["country"])
X.head(10)

,Average Temperature (Kelvin),Average Air Pressure (hPa),Average Humidity (%),Average Daily Precipitation (mm),points,country_labenc
0,269.6375,1018.1500,79.2400,0.0725,87.0,34
1,269.6375,1018.1500,79.2400,0.0725,86.0,34
2,269.6375,1018.1500,79.2400,0.0725,86.0,34
3,276.0250,1019.8875,85.4525,0.0575,87.0,34
4,276.0250,1019.8875,85.4525,0.0575,88.0,34
5,276.0250,1019.8875,85.4525,0.0575,90.0,34
6,276.0250,1019.8875,85.4525,0.0575,87.0,34
7,276.0250,1019.8875,85.4525,0.0575,85.0,34
8,276.0250,1019.8875,85.4525,0.0575,85.0,34
9,276.0250,1019.8875,85.4525,0.0575,87.0,34

In [28]:
X['country_labenc'].unique()

array([34, 17,  6, 10,  1, 12, 30, 24, 16,  0,  2, 27, 31, 21, 26, 29,  9,
        5, 23,  8,  4, 13, 33, 22,  7, 14, 36,  3, 32, 18, 15, 28, 19, 20,
       11, 25, 35])

In [29]:
# Split the Data Into Training and Testing Sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=70)

In [30]:
# Creating a StandardScaler instance.
scaler = StandardScaler()

In [32]:
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [33]:
# Determine the shape of our training and testing sets.
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(36661, 6)
(12221, 6)
(36661,)
(12221,)

In [34]:
%matplotlib inline
from matplotlib import pyplot as plt
from sklearn.datasets import make_classification
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
from sklearn.utils.random import sample_without_replacement
from sklearn.utils import resample

In [35]:
# Creating the decision tree classifier instance.
model = tree.DecisionTreeClassifier()

In [36]:
# Fitting the model.
model = model.fit(X_train, y_train)

In [37]:
# Making predictions using the testing data.
predictions = model.predict(X_test)
print(predictions)

['Pinot Noir' 'Pinot Noir' 'Pinot Noir' ... 'Cabernet Sauvignon'
 'Riesling' 'Chardonnay']

In [38]:
# Calculating the accuracy score.
acc_score = accuracy_score(y_test, predictions)
acc_score

0.4327796416005237

In [39]:
# find R2 score
model.fit(X, y)

score = model.score(X, y)
print(f"R2 Score: {score}")

R2 Score: 0.5005932654146721

In [40]:
# Create a random forest classifier.
from sklearn.ensemble import RandomForestClassifier
#rf_model = RandomForestClassifier(n_estimators=500, random_state=99).fit(X_train, y_train)
#print(f'Training Score: {rf_model.score(X_train, y_train)}')
#print(f'Testing Score: {rf_model.score(X_test, y_test)}')

In [41]:
# Splitting into Train and Test sets.
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [42]:
# Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [43]:
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=500, random_state=1)

In [44]:
# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

In [45]:
# Making predictions using the testing data.
predictions = rf_model.predict(X_test_scaled)

In [46]:
# Calculating the accuracy score.
rf_acc_score = accuracy_score(y_test, predictions)
rf_acc_score

0.4381801816545291

In [47]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1, 
                                                    stratify=y)

In [48]:
# Create logistic regression object using sag solver
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(random_state=0, solver='sag')
classifier

# Train model
model = classifier.fit(X_train, y_train)

/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/linear_model/_sag.py:329: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)

In [49]:
# Predict outcomes for test data set
predictions = classifier.predict(X_test)
pd.DataFrame({"Prediction": predictions, "Actual": y_test})

            Prediction              Actual
35684  Sauvignon Blanc          Chardonnay
22707       Pinot Noir          Pinot Noir
13426       Pinot Noir  Cabernet Sauvignon
8757        Pinot Noir  Cabernet Sauvignon
37171       Pinot Noir               Syrah
...                ...                 ...
4314        Pinot Noir          Pinot Noir
49339       Pinot Noir  Cabernet Sauvignon
42302       Pinot Noir  Cabernet Sauvignon
10839       Pinot Noir          Pinot Noir
46329       Pinot Noir  Cabernet Sauvignon

[12221 rows x 2 columns]

In [50]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, predictions)

0.29776614025038867